# Exclude folders
.vagrant/
portal/
ckan/
landportal-ckanext-drupal/
landportal-drupal/
landportal-receiver/
landportal-data-access-api/
virtualenvs/

# Exclude files
*~
delete-this-to-reconfigure
*.sublime-workspace
*.sublime-project
ckan_configured
receiver_configured
api_configured